.CuadroFicha{
    border: 0px;
    margin: 10px;
    padding: 20px;
    background-color: #1F69D8;
    width: 60%;
    height: 60%;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .conteiner {
      flex-wrap: wrap;
    }
    .col {
      width: 100%;
    }
  }

.Ficha {
    width:100%;
    background-color: #6190D7;
    border: 5px;
    margin: 0px;
    border-radius: 30px;
  }
  .ListaCompleta li {
    margin-bottom: 0px;
}