div.fichaentera{
  background-color: #6190D7 ;
  height: 400px;
  width:800px;
  border-radius: 30px;
  margin-left: 100px;
  margin-top: -80px;
}

h1.tituloperfilprofe{
  color: yellow;
  text-shadow: rgb(3, 33, 120) 0.1em 0.1em 0.2em;
  font-size: 40px;
  display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

img.lucario{
  width:150px;
}

ul.col-6.lista1{
  display: flex;
  flex-direction: row;
  /* align-content: flex-end; */
  justify-content: center;
  align-items: stretch;
}
ul.col-6.lista2{
  margin-top: 5px;
  font-size: x-large;
color: #fff;
text-shadow: rgb(3, 33, 120)0.1em 0.3em 0.3em;
}
/* h2.h2-text{
  color: rgba(237, 237, 131, 0.988);
  text-shadow: rgb(3, 33, 120)0.1em 0.3em 0.3em;
}

.Ficha {
    width:40%;
    height: 30%;
    background-color: #6190D7;
    
    border: 5px;
    margin: 0px;
    border-radius: 30px;
  }
  
div.ficha {
  background-color: #6190D7;
  width: 300px;
  height: 100px;
  
  }
  li.infocliente{
    color: #fff;
    text-shadow: rgb(3, 33, 120) 0.1em 0.1em 0.2em;
    font-size: 20px;
  }

#CajaPadre{
  border: 5px;
  margin: 10px;
  padding: 20px;
  background-color: #1F69D8;
  width: 60%;
  height: 40%;
  border-radius: 20px;
}

ul.ListaTOTAL{
  width: 100px;
  height: 30%;
  margin:30px;
  padding: 20px;
  margin-bottom: 0px;
  
  }
  li.profesional.nombre{
    margin:50px;  
} */