/* se importa la tipografia de Pokemon */
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
/* css de footer2 */
*{
    
    font-family: 'Pokemon Solid', sans-serif;
}



div.infoweb{
    display:flex;
    flex-flow: row wrap;
      background-color: rgba(2, 149, 248, 0.689);
}

div.col-sm-6.col-md-6.col-lg-6.col-xl-6.pull-xs-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
    align-content: flex-end; 
}

img.logofinalfooter{
    margin-left: 50px;
    margin-top: 5px;
}
div.iconofooter{
    margin-left: 80px;
    margin-top: 5px;
}

a.iconofooter{
    padding: 5px;
}
a.nav-item.nav-link{
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 20px;
    margin-right: 50px;
}

.footer > *{
    flex: 1 100%;
    
} 
img.iconofooter{
    width: 40px;
}

li.info{
    font-family: 'Pokemon Solid', sans-serif;
    font-weight: 700; 
    font-size: 15px;
}
h1.titulo{
    font-family: 'Pokemon Solid', sans-serif;
    font-weight: 700; 
font-size: 30px;}


footer.footer{
    background-color: #181E55;
}

@media screen and (min-width:600px){
    .footer-right > *{
        flex:1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex:2 0px;
    }
}
/* final footer2 */


