@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

/* diseño longcard reto  */

p#reto.card-text{
    font-weight: 500;
    font-size: 2em;
    font-family: 'Pokemon Solid', sans-serif;
    color:yellow;
}
h5#titlereto.card-title{
    color: yellow;
    font-size:4em;
    font-family: 'Pokemon Solid', sans-serif;
}
img.card-img{
    height:430px;
}

/* diseño cards iniciales info, profes y únete  */
h5.card-title.text-center{
    font-family: 'Pokemon Solid', sans-serif;
    font-size:4em;
    color: yellow;
}
p.card-text.text-center{
    font-family: 'Pokemon Solid', sans-serif;
    font-size:1em;
    color: white;
}
img#pokebola text-center{
    width: 10px;
    height: 10px;
    justify-content: center;
}


/* cart principal home */
div.carousel.slide{
    margin-bottom: 10px;
}
/* se da margen al final para separar cart de info profes y unete */

/* diseño de calendario */
caption {
    padding: 20px;
    font-size: 28px;
    color: #3931cee3;
    font-family: 'Pokemon Solid', sans-serif;
  }
  
  th {
    background-color: #ffca3ac1;
    color: #5524c8e3;
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
  }
  
  td {
    background-color: #5524c8e3;
    color: #ffca3a;
    padding: 20px;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
  }
/* finalde calendario*/  
