.links-div{
    display: inline-flex;
}

.link-style {
    -webkit-text-fill-color: #ffff;
    -webkit-text-stroke: 1px #F0073F;
    font-size: 12px;
    text-align: left;
    text-decoration-line: none;
}

.login-style{
    width: 100%;
    margin-top: 5%;
}

.poke-img{
    margin-top: -6%;
    margin-left: -6%;
}

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.titulologin{
        color: #ffff00;
        font-size: 100px;
        text-shadow: black 0.1em 0.1em 0.2em;
        padding: 20px;
        margin-top:-70px;
        margin-bottom: 40px;
    
}