ul.navbar-nav.ml-auto.iconos{
  width: 300px;
  height: 50px;
  margin-right: 20px;
}

img.img-icon{
  width: 120px;
  margin-left: 0px;
  margin-top: -30px;
  
}
img.img-icon2{
  margin-top: -15px;
}

img.logo-gym{
  width: 170px;
  margin-top: -35px;
}

img.img-icon3{
  width: 100px;
  margin-top: -20px;
}

.iconos{
    justify-content: space-between;
    width: 20%;
    margin: 5px;
    background-color: #1f69d8;
    border-radius: 8px;
}

.logo-gym{
    width: 150px;
    margin-top: 5px;
}

.nav-style{
    background-color: #103873;
    
}
div.navbar-header.logo{
  width: 100px;
  height: 100px;
}

.button-menu{
  background-color: #1f69d8;
  align-self: flex-end;
  width: 30%;
  border: 2px solid black;
}

.mobile-menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  background-color: #103873;
 
}

.ul-li{
  background-color: #1f69d8;
  border: 2px solid black;
  width: 30%;
  align-self: flex-end;
}

.ul-li > ul{
  text-align:left;
}

li > a{
  color: black;
}

li > a:hover{
  color: gray;
}
h1.titulonavbar{
  display: flex;
}

@media (max-width: 576px) {
  .nav-style {
    display: none;
  }

  li {
    list-style-type: none;
  }
}

@media (min-width: 577px) {    
    .mobile-menu{
      display: none !important;
    }
  }

@media (max-width: 991px) and (min-width: 577px) {
    .iconos {
      display: none;
    }
  }

  h1.titulonavbar{
    color: #ffff00;
    font-size: 50px;
    text-shadow: black 0.1em 0.1em 0.2em;
    
  }

  div.titupok{
    display: flex;
    align-items: center;
    justify-content: center;
  }