body{
    background-color: #0A2A69;
}
#Padre {
    position:relative;
}
#img{
    position:absolute;
    left:0;
    bottom:5px;
    
}
div.fichacard{
    background-color: #0dcaf0;
}
div.ejercicioscard.mb-3{
    background-color: #0dcaf0;
}