
.ContainerDropdownClientes{
    border: 0px;
    margin: 10px;
    padding: 20px;
    background-color: #1F69D8;
    width: 40%;
    height: 40%;
    border-radius: 20px;
}
.dropdowndos{
        width:10%;
        height: 10%;
        background-color: #6190D7;
        border: 5px;
        margin: 0px;
        border-radius: 30px;
}
#ListaDropdown{
    width: 20%;
    height: 20%;
}
#DropDownPrincipal{
    width: 20%;
    height: 20%;
}