
 button.dropdown-toggle{
  background: #1F69D8;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
 } 
 p.tucliente{
  color: #ffffff;
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding: 5px;
 }

  ul.dropdown-menu.user.show{
  width:500px;
 } 
 div.listacliente{
  color: #dae908;
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  width: 500px;
  
 }


.ContainerDropdownClientes{
    border: 0px;
    margin: 10px;
    padding: 20px;
    background-color: #1F69D8;
    width: 40%;
    height: 40%;
    border-radius: 20px;
}
.dropdowndos{
        width:10%;
        height: 10%;
        background-color: #6190D7;
        border: 5px;
        margin: 0px;
        border-radius: 30px;
}
#ListaDropdown{
    width: 20%;
    height: 20%;
}
#DropDownPrincipal{
    width: 20%;
    height: 20%;
}

@media screen and (max-width: 600px) {
    .conteiner {
      flex-wrap: wrap;
    }
    .col {
      width: auto;
    }
  }
/*
  #PrimeroPrimerin {SI BORRO ESTO SE TIRA < Y QUEDA AHI MEJOR QUE AHORA 
    position: absolute;
    top: 35%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  */
  .PrincipalContainerDropdown{
      border: 0px;
      margin: 10px;
      padding: 20px;
      background-color: #1F69D8;
      width: 12%;
      height: 60%;
      border-radius: 20px;
  }

  .aumentado {
    width: 23%;
    height: 250px;
    }