



div.container.recover.justify-content-center{
    height:400px;
}

h3#recuperartitulo{
    color:yellow;
}
div.row.ok{
    margin-left:112px;
    margin-right: 112px;
}
div.row.rut{
    margin-bottom: 10px;
}
div.row.mail{
    margin-bottom: 10px;
}
