.retoDia{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 16px;
}

@media only screen and (max-width: 490px) {
    img{
        height: 550px !important;
    }

    .retoDia{
        margin-bottom: 5%;
    }
}